.foo {
    width: 100%;
    text-align: center !important;
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 1px;

    .language {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            border-style: none;
            outline: none;
            padding: 20px 5px 0px;
            cursor: pointer;
        }
    }
}