/* Reset
  =============== */

// Reset box sizing to border box
html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Remove figure margin
figure,
body {
    margin: 0;
}

p, h1, h2 {
    letter-spacing: 1.2px;
    line-height: 1.2em;
}
